/*
	=============================================
		$GENERALS STYLES
	=============================================
*/

*, *:before, *:after {
	box-sizing: inherit;
}

html{
	font-size: 16px;
	box-sizing: border-box;
}

body{
	font-family: $font-family;
	color: $font-color;
}

a{
	text-decoration: none;
}

h1{
	color: darken($secondary-color,5%);
	margin-bottom: 0.75rem;
	@include fontSize(30);// valor 	en pixeles
}

h2{
	color: darken($secondary-color,5%);
	margin-bottom: 0.75rem;
	@include fontSize(26);// valor 	en pixeles
}

h3{
	color: darken($secondary-color,5%);
	margin-bottom: 0.75rem;
	@include fontSize(22);// valor 	en pixeles
}

h4{
	color: darken($secondary-color,5%);
	margin-bottom: 0.75rem;
	@include fontSize(18);// valor 	en pixeles
}

h5{
	color: darken($secondary-color,5%);
	margin-bottom: 0.75rem;
	@include fontSize(16);// valor 	en pixeles
}

h6{
	color: darken($secondary-color,5%);
	margin-bottom: 0.75rem;
	@include fontSize(12);// valor 	en pixeles
}

p{
	margin-bottom: 1rem;
	font-size: $font-size;
}

article{
	text-align: left;
}


img{
	max-width: 100%;
	height: auto;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

/*para verificar el item seleccionado del menu*/
li.current-menu-item,.page_item{
	color: $base-color !important;

}

.bg-basecolor{
	background-color:$base-color;
}

.radius {
	border-radius: $radius;
}
