/*
    =================================================================
        $SETTINGS
    =================================================================
 */

//Colors
$primary:   #1468a4;
$secondary: #333333;

$font-color:      #000;
$title-color:     #6e6e6e;
$link-color:      skyblue;
$link-color-hover: #1AB0FF;

// Font
$font-size:     16px;
$font-family:   'Open Sans', sans-serif;

//Max widths
$max-width:      1200px;
