



/*---------------------------------------------------------------
	$botones
-----------------------------------------------------------------*/

.button{
	background:$base-color;
	color: #fff;
	cursor: pointer;

	&:hover{
		background:lighten($base-color,10);
		color: #fff;
	}

	&:focus{
		background:$base-color;
		color: #fff;
	}

}

